<div>

	<div id="mapPage" class="page secondary" data-bind="router: {transition: 'entrance'}">

		<div class="page-region">
			<div class="page-region-content">
				<div class="progress progress-indeterminate">
					<h2 data-localize="app.loading">Loading ...</h2>
					<div class="win-ring"></div>
				</div>
			</div>
		</div>

	</div>


	<!-- ko compose: app.settings.detailViews[app.settings.detailViewIndex()].view -->
	<!-- /ko -->

	<!-- ko compose: { view:'details/webPage.html' } -->
	<!-- /ko -->

	<!-- ko compose: 'views/modals/login' -->
	<!-- /ko -->

</div>