/*#detailsPage .page-region-content {
  padding-left: 80px;  
  padding-right: 60px;
}*/

#details-slide li {
  clear: both;
  display: block;
  padding: 5px 0 5px 5px;
  margin: 0 0 5px 5px;
  position: relative;
}

#details-slide .item {
  position: relative;
  padding: 5px 0 5px 5px;
  margin: 0px 0px 0px 0px;
  background-color: #e6e7e8;
  color: black;
  border: 1px solid ActiveBorder;
}

  #details-slide .item:hover {  /*siehe moden.css,2974: .tile:hover*/
    outline: 3px #3a3a3a solid;
  }

#details-slide .item-title {
  display: inline-block;
}

/*#details-slide .edit-details-list li {
  background-color: #e6e7e8;
}*/

#details-command-close, #web-command-close {
  position: absolute;
  right: -20px;
  top: 15px;
}

#details-slide h1 {
  font-size: 60px;
  margin-bottom: 20px;
  margin-left: -4px;
}
.slide-subnode {
  margin-bottom: 5px !important;
}
.listview-item-body a:visited, .listview-item-body a:link {
  font-size: 10px;
  color: #fff;
}
.listview-item-body a:active, .listview-item-body a:hover {
  font-size: 10px;
  color: #ff6a00;
}