@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
	src: url('../font/opensans-light-webfont.eot'), url('../font/opensans-light-webfont.ttf') format('truetype'), url('../font/opensans-light-webfont.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
	src: url('../font/opensans-regular-webfont.eot'), url('../font/opensans-regular-webfont.ttf') format('truetype'), url('../font/opensans-regular-webfont.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
	src: url('../font/opensans-regular-webfont.eot'), url('../font/opensans-regular-webfont.ttf') format('truetype'), url('../font/opensans-regular-webfont.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
	src: url('../font/opensans-bold-webfont.eot'), url('../font/opensans-bold-webfont.ttf') format('truetype'), url('../font/opensans-bold-webfont.woff');
}