<div id="searchPage" class="page tool left">

	<link rel="stylesheet" type="text/css" href="App/views/details/search.css" /><!--everything relative to index.(cs)html-->

	<a id="details-command-close"
	   class="win-command win-command-small"
	   rel="tootlip" title="Close details"
	   data-bind="click: $root.app.toggleSearch">
		<span class="win-commandicon win-commandring icon-close"></span>
	</a>

	<!--<a class="win-command pull-right" title="Close Search" data-bind="click: $root.app.toggleSearch">
		<span class="win-commandicon win-commandring icon-close"></span>
		<span class="win-label">Close</span>
	</a>-->

	<!-- <div class="page-region">-->

	<div class="page-region-content">
		
		<h1 class="text-title">Search</h1>

		<input type="search" data-bind="value: searchString" />

		<article data-bind="foreach: searchResults">
			<div class="item" data-bind="class: CssClass">

				<span class="item-title" data-bind="html: Title"></span>

			</div>
		</article>

	</div> <!--.page-region-content-->
	<!--</div>-->
	<!--</div>-->
</div>