<!--model: shell-->

<div id="webPage" class="page detail modal webpage">

	<a id="web-command-close"
		 class="win-command win-command-small"
		 rel="tootlip" title="Close website"
		 href="#" data-bind="click: app.hideWebPage">
		<span class="win-commandicon win-commandring icon-close"></span>
	</a>

	<h2 id="webPage-title" data-localize="webpage.title">External Webpage</h2>
	<!--<h2 data-localize="app.loadingExternal">Loading ...</h2>-->
	<!-- <div class="page-region"> -->
	<iframe id="webContent" src="#" style="width: 100%; height: 100%;">
	</iframe>
	<!-- </div> -->

</div>