<div>
	<link rel="stylesheet" type="text/css" data-bind="attr: { href: 'App/themes/' + app.forest + '.css' }" />

	<div data-bind="router: {transition: 'entrance'}"> <!--needs div-->
	</div>

	<!-- ko compose: app.settings.detailViews[app.settings.detailViewIndex()].view -->
	<!-- /ko -->

	<!-- ko compose: { view:'details/webPage.html' } -->
	<!-- /ko -->

	<!-- ko compose: 'views/modals/login' -->
	<!-- /ko -->
	<!-- ko compose: 'views/modals/register' -->
	<!-- /ko -->

	<!-- ko compose: 'views/details/search' -->
	<!-- /ko -->

</div>