<!--to be loaded in a details view (e.g. dock)-->
<!--nav-bar-->
<link rel="stylesheet" type="text/css" href="App/views/details/editor.css" /><!--everything relative to index.(cs)html-->

<div class="nav-bar metro-navbar">
	<div class="navbar-inner win-commandlayout">

		<!--Left-->
		<a class="win-command" title="Save" data-bind="click: app.save">
			<span class="win-commandicon win-commandring icon-disk"></span>
			<span class="win-label" data-localize="edit.save">Save</span>
		</a>
		<a class="win-command" title="Add Child" data-bind="click: app.addChild">
			<span class="win-commandicon win-commandring icon-plus"></span>
			<span class="win-label" data-localize="edit.add.child">Add Child</span>
		</a>
		<a class="win-command" title="Add Sibling" data-bind="click: app.addSibling">
			<span class="win-commandicon win-commandring icon-add-to-list"></span>
			<span class="win-label" data-localize="edit.add.sibling">Add Sibling</span>
		</a>
		<a class="win-command" title="Delete" data-bind="click: app.deleteNode">
			<span class="win-commandicon win-commandring icon-trashcan"></span>
			<span class="win-label" data-localize="edit.delete">Delete</span>
		</a>
		<!--<a class="button" data-bind="click: app.moveNode">moveNode</a>-->
		<!--Right-->
		<a class="win-command pull-right" title="Close details" data-bind="click: app.hideDetails">
			<span class="win-commandicon win-commandring icon-close"></span>
			<span class="win-label">Close</span>
		</a>
		<!--<a class="win-command pull-right" title="Toggle between edit and view modes" data-bind="visible: app.user.mayEdit(), click: app.toggleEdit">
			<span class="win-commandicon win-commandring" data-bind="class: app.state.edit() ? 'icon-eye' : 'icon-pencil'"></span>
			<span class="win-label" data-bind="text: app.state.edit() ? 'View' : 'Edit'"></span>
		</a>-->

	</div>
</div>
<!--/nav-bar-->

<div class="page-region" data-bind="with: node, event: { keypress: $root.app.onkeypress_modal }">

	<div class="page-region-content">
		<form role="form">
			<!--data-bind="event: { keypress: $root.app.keyset.form }"-->
			<h2 data-bind="html: LTitle"></h2>

			<label data-localize="edit.parents">Parent</label>
			<div>
				<!-- ko foreach: ParentConnections -->
				<div class="item" data-bind="click: function() { $root.app.select($data.FromNode()) }, class: FromNode().CssClass">
					<span class="item-title" data-bind="text: FromNode().LTitle"></span>
				</div>
				<!-- /ko -->
			</div>

			<!--Texte-->
			<h3 data-localize="edit.text">
				Texts
				<span class="btn-group">
					<a class="win-command win-command-small" data-toggle="dropdown" href="#">
						<span class="win-commandicon win-commandring icon-plus"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a data-localize="edit.add.link" data-bind="click: $root.app.addText">Add Translation</a></li>
					</ul>
				</span>
			</h3>
			<div data-bind="foreach: Texts">
				<div class="panel detail-area">
					<div class="panel-heading">
						<div class="form-group pull-right" data-bind="visible: $parent.Texts().length > 1">
							<a style="width:5%" class="win-command win-command-small" data-bind="click: $root.app.deleteText" title="Delete translation">
								<span class="win-commandicon win-commandring icon-delete"></span>
							</a>
						</div>
						<div class="form-group pull-right">
							<select class="input-small" data-bind="value: Lang, attr: { id: 'Texts_Lang_'+$index() }">
								<option value="">Neutral</option>
								<!-- ko foreach: $root.app.langs -->
								<option data-bind="value: id, text: name"></option>
								<!-- /ko -->
							</select>
						</div>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<label data-localize="edit.title" data-bind="attr: { for: 'Texts_Title_'+$index() }">Title</label>
							<input class="input-block-level" type="text" data-bind="value: Title, attr: { id: 'Texts_Title_'+$index() }" />
						</div>
						<div class="form-group">
							<label data-localize="edit.description" data-bind="attr: { for: 'Texts_Description_'+$index() }">Description</label>
							<textarea class="input-block-level" rows="2" type="text" data-bind="value: Description, attr: { id: 'Texts_Description_'+$index() }" />
						</div>
						<div class="form-group">
							<label data-localize="edit.notes" data-bind="attr: { for: 'Texts_Comment_'+$index() }">Notes (for authors only)</label>
							<textarea class="input-block-level" rows="2" data-bind="value: Comment, attr: { id: 'Texts_Comment_'+$index() }"></textarea>
						</div>
					</div>

				</div>
			</div>

			<!--Details-->
			<h3>
				Details
				<span class="btn-group">
					<a class="win-command win-command-small" data-toggle="dropdown" href="#">
						<span class="win-commandicon win-commandring icon-plus"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a data-localize="edit.add.link" data-bind="click: function() { $root.app.addDetail('details_link'); }">Add Link</a></li>
						<!--<li><a data-localize="edit.add.description" data-bind="click: function() { $root.app.addDetail('detail_note'); }">Add Description</a></li>-->
					</ul>
				</span>
			</h3>
			<ul class="edit-details-list" data-bind="sortable: { data: Details }">
				<!--data-bind="foreach: Details"-->
				<li class="detail-area" data-bind="class: CssClass, style: { backgroundColor: BackColor, color: Color }, visible: isDeleted() === false">

					<a style="width:5%" class="win-command win-command-small pull-right" data-bind="click: $root.app.deleteDetail" title="Delete detail">
						<span class="win-commandicon win-commandring icon-delete"></span>
					</a>

					<!-- ko if: Link && !MediaType -->
					<div class="icon-link" />
					<!-- /ko -->
					<!-- ko if: MediaType == 'image' -->
					<img style="width:90%" src="#" data-bind="attr: { src: Link, alt: Texts()[0].Title, title: Texts()[0].Title }" />
					<!-- /ko -->
					<!-- ko if: Icon -->
					<!--<img width="30" height="30" data-bind="attr: { src: Icon }" src="#" style="position: absolute; left: 0px; top: 0px;" />-->
					<!-- /ko -->
					<!-- ko if: Link -->
					<input type="text" style="width:33%" data-bind="value: Texts()[0].Title" />
					<input type="text" style="width:42%" data-bind="value: Link" /> <!-- Text width zufor 39% und Link width 50% zum erinnern ^^ -->
					<!-- /ko -->
					<!-- ko ifnot: Link -->
					<textarea rows="3" style="width:90%" class="input-block-level" data-bind="value: Texts()[0].Title"></textarea>
					<!-- /ko -->
					<!-- dropdown Menu für sprachauswahl bei den Details -->
					<select class="input-small" data-bind="value: Lang, attr: { id: 'Texts_Lang_'+$index() }">
						<option value="">Neutral</option>
						<!-- ko foreach: $root.app.langs -->
						<option data-bind="value: id, text: name"></option>
						<!-- /ko -->
					</select>
					<!-- Ende dropdown Menu für sprachauswahl bei den Details -->

				</li>
			</ul>

			<h3 data-localize="edit.style">
				Stil
			</h3>
			<div class="form-group">
				<label for="edit_class" data-localize="edit.class">Class</label>
				<!-- TODO: Class binding needed -->
				<select id="edit_class" class="input-block-level" data-bind="value: CssClass">
					<option></option>
					<option>category</option>
					<option>question</option>
					<option>project</option>
					<option>tag</option>
				</select>
			</div>
			<div class="form-group">
				<label for="BackColor_picker" data-localize="edit.nodeColor">Node Color</label>
				<input id="BackColor_picker" class="input-block-level colorpicker" type="text" data-bind="value: BackColor" />
			</div>
			<div class="form-group">
				<label for="Color_picker" data-localize="edit.textColor">Text Color</label>
				<input id="Color_picker" class="input-block-level colorpicker" type="text" data-bind="value: Color" />
			</div>
			<div class="form-group">
				<label for="CloudColor_picker" data-localize="edit.cloudColor">Group Color</label>
				<input id="CloudColor_picker" class="input-block-level colorpicker" type="text" data-bind="value: CloudColor" />
			</div>

			<h3>External Systems</h3>
			<div class="form-group" style="position: relative;">
				<label for="ForeignOrigin">Source</label>
				<input name="ForeignOrigin" class="input-block-level" type="text" data-bind="value: ForeignOrigin" />
			</div>
			<div class="form-group">
				<label for="ForeignId">Key</label>
				<input name="ForeignId" class="input-block-level" type="text" data-bind="value: ForeignId" />
			</div>
			<div class="form-group">
				<label for="Hook">Hook</label>
				<input name="Hook" class="input-block-level" type="text" data-bind="value: Hook" />
			</div>

			<!--Info-->
			<h3 data-localize="edit.info">Info</h3>
			<p>
				<span data-localize="edit.modifiedAt">Modified</span> <span data-bind="textDate: ModifiedAt"></span> <span data-localize="edit.by">by</span> <span data-bind="  text: ModifiedBy"></span>.
				<br />
				<span data-localize="edit.createdAt">Created</span> <span data-bind="textDate: CreatedAt"></span> <span data-localize="edit.by">by</span> <span data-bind="  text: CreatedBy"></span>.
			</p>

		</form>
	</div>

</div>
